.Cadastro{
  width: 100%;
  height: 100vh;

  display:flex;
  flex-direction: row;
}
.Cadastro .left-side{
  width:10%;
  padding-top: 2vh;
}

.Cadastro .right-side{
  display: flex;
  flex-direction: column;
  width:90%;
  padding-top: 12%;
  padding-right: 12%;
}

.Cadastro h1{
  font-size: 3rem;
  color: #1D3557;
  margin-bottom: 10vh;
}