.NavBar{
    color: black;
    height: 100%;
    width: 5%;
    display: flex;
    flex-direction: column;
    background-color: #F1FAEE;

    justify-content: space-between;
}

.NavBar > div:nth-child(1){
    margin: auto 0 ;
}

.NavBar > div:nth-child(2){
    display: flex;
    justify-content: center;
}

.NavBar > div div{
    display: flex;
    height: 8vh;
    border: 5px solid rgba(0, 0, 0, 0) ;
    border-left: 5px solid rgba(69, 123, 157, 0);
    margin-top: 30px;

    justify-content: center;
    align-items: center;
}